<!DOCTYPE html>
<html>
    <head>

        <script src = "static/webgl-utils.js"></script>
        <script src = "static/MV.js"></script>
        <script src="static/init-shaders.js"></script>
        <script src="static/objloader.js"></script>
        <script src="static/tools.js"></script>


        <script src="static/templeTest.js"></script>
    </head>
    <body>
        <!-- Define the canvas to use for the WebGL example -->
        <canvas id="gl-canvas">
            Your browser doesn't support HTML5 canvas element
        </canvas>
    </body>
</html>